@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* Section Hours  */
.working-hours li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  color: #838383;
  padding: 12px 0;
  border-bottom: 3px solid #eaeaea;
  transition-duration: 500ms;
}
.working-hours li:last-child {
  border-bottom: none;
}
.working-hours li:hover,
.working-hours li:focus {
  color: #38b143;
}
/* Section Form  */

input,
textarea {
  border: 0;
  outline-color: #38b143;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Merriweather", sans-serif;
  box-shadow: 0 1px 1px rgba(black, 0.1);
}

textarea {
  height: 126px;
}
.input-submit {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #38b143;
  background: transparent;
  cursor: pointer;
  border: 2px solid #38b143;
}
.input-submit:hover {
  background: #38b143;
  color: white;
  transition: all 600ms ease-in-out;
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
